<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>

    <title>My Family Task Journal</title>
</head>
<body>
    <div>
 
        <div>
            @RenderBody()
        </div>
        </div>
</body>
</html>
