<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/*.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/mainpage.js"></script>

    <title>My Family Task Journal</title>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="/">ГЛАВНАЯ</a>
        <a class="navbar-brand" href="/budget">БЮДЖЕТ</a>
        <a class="navbar-brand" href="/todo">ЗАДАЧИ</a>
        <div class="pull-right">
        </div>
    </div>
    <div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
