<div class="active">
    <div>
        Текущие задачи в работе - <a href="/todo/work" class="navbar-brand">4</a> <br />
        Новые задачи - <a href="/todo/new">3</a> <br />
        Всего невыполненных задач - <a href="/todo">7</a> <br />
    </div>
</div>