<div class="active" id ="base">
    <div name="finstate">
        <h1>Финансовое состояние</h1>
        Наличные - <a href="/budget" class="navbar-brand" name="cash"></a> <br />
        Зарплатная карта - <a href="/budget"> 2 952 р </a> <br />
    </div>
    <div>
        <h1>Задачи</h1>
        Текущие задачи в работе - <a href="/todo/work" class="navbar-brand">4</a> <br />
        Новые задачи - <a href="/todo/new">3</a> <br />
        Всего невыполненных задач - <a href="/todo">7</a> <br />
    </div>
    <div>
        <h1>Ближайшие события</h1>
        <ul>
            <li>15 апреля - День рождение Юрика</li>
            <li>11 мая - День рождения Наташи</li>
        </ul>
    </div>
</div>

<script>
    function GetFinState() {
        $("a[name = 'cash']").append("0 руб");
    }
    GetFinState();
</script>