@model IEnumerable<ToDo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    @foreach (ToDo TodoTask in Model)
    {
        @TodoTask.Description
    }
</body>
</html>
