@model IEnumerable<ToDo>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <table>
        <thead>
            <tr><th>Описание задачи</th></tr>
        </thead>
        <tbody>
            @foreach (ToDo TodoTask in Model)
            {
            <tr><td>@TodoTask.Description </td></tr>
            }
            </tbody>
</table>
</body>
</html>
