@model IEnumerable<ToDo>

    <table>
        <thead>
            <tr><th>Описание задачи</th></tr>
        </thead>
        <tbody>
            @foreach (ToDo TodoTask in Model)
            {
            <tr><td>@TodoTask.Description </td></tr>
            }
            </tbody>
</table>
